.editor {
  height: 100%;
}

.editor-wrapper {
  height: calc(100% - 9rem);
  display: flex;
  justify-content: center;
  position: relative;
}

.editor-core-wrapper {
  width: calc(100% - 15rem);
}

.editor-introduction {
  font-family: 'Merriweather', serif;
  background-color: transparent;
  border:none;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  width: 100%;
  font-weight: 400;
}

.editor-introduction:focus {
  outline: none;
}
