.error-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.error-page h1 {
  font-size: 10rem;
}

.error-page h3 {
  font-size: 2rem;
  max-width: 50%;
  padding-bottom: 4rem;
  font-family: 'Merriweather', serif;
}
