.edit-status {
  position: fixed;
  bottom:0;
  right:0;
  letter-spacing: normal;
  font-size: 1.4rem;
  opacity: 0.5;
  padding: 0 3rem;
  font-weight: 400;
  transition: all 500ms cubic-bezier(0.2, 1, 0.3, 1);
}

.edit-status__ERROR {
  color: #F73F52;
  font-size: 1.6rem;
  font-weight: 700;
  opacity:1;
}

.editor {
  padding-bottom: 5rem;
}
