.block-chat-bubble {
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 9999px;
  padding: 1rem 1.5rem;
  margin: 1rem;
}

.block-chat-bubble-wrapper {
  display: flex;
  align-items: center;
}

.block-chat-bubble-wrapper__left {
  flex-direction: row;
}

.block-chat-bubble-wrapper__right {
  flex-direction: row-reverse;
}

.block-chat-bubble__left {
  background-color: #E5E5EA;
}

.block-chat-bubble__right {
  background-color: #1C85F6;
  color:white;
}

.block-chatroom {
  width: 30%;
}

.chat-input {
  position: relative;
  background-color: #F9F9F9;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
  transition: opacity 500ms cubic-bezier(0.2,1,0.3,1);
}

.chat-input svg {
  position: absolute;
  top:0;bottom:0;right:1rem;
  margin: auto;
}

.chat-input input {
  width: 100%;
}

.chat-tools img {
  width: 22px;
  height: 22px;
  margin: 1rem 0.5rem;
}
