.block-gallery-imgs {
  padding: 1rem 0;
  width:100%;
}

.block-gallery-imgs-img {
  width: 40rem;
  padding: 0;
  margin: 0;
  position: relative;
  width:50%;
  float: left;
}

.block-masonry {
  width: 100%;
}

.block-gallery-imgs-img__preview {
  opacity: 0.5;
}

.block-gallery-imgs-img img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  z-index: 398;
}

.block-gallery-imgs-close {
  position: absolute;
  top:0;
  right:0;
  z-index: 400;
  opacity:0.8;
  margin: 1rem;
}

.block-masonry:after {
  content: '';
  display: block;
  clear: both;
}
